#Nhớ sửa tên gmail 
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=db_yumfast;Username=postgres;Password=
# JWT
Jwt__Key=YOUR_SUPER_SECRET_JWT_KEY_32CHARS_MIN
Jwt__Issuer=Yumfast
Jwt__Audience=YumfastClient
Jwt__ExpireMinutes=120

# SMTP
Smtp__Host=smtp.gmail.com
Smtp__Port=587
Smtp__User=thukhuongle0503@gmail.com
Smtp__Pass=fyif ybej dxkz jkyz
Smtp__FromName=YumFast System
Smtp__FromEmail=thukhuongle0503@gmail.com
